{% extends "layout.html" %}
{% block head %}
<script type="text/javascript">
	var type = "{{ type }}";
	var order = "{{ order }}";
	var order_by = "{{ order_by }}";

	function browse_category(cat){
		window.location = "/browse/" + cat;
	}

	function reorder(element, order){
		window.location = '/browse/' + type + "/" + element + "/" + order;
	}

	function edit(pk){
		window.location = '/edit/' + type + "/" + pk;
	}

	function create(){
		window.location = '/create/' + type;
	}
</script>
{% endblock %}
{% block body %}
<!-- 
This is essentially the home page of browsing. It links to other pages that handle specific kinds of browsing.

Handles the Employee Browsing operations

•	Employee Browsing Employees must be able to search the database for particular items based on various attributes and must also be able to do browsing (i.e., less focused searching). Examples:
o	Search for cases by status and timeframe
o	Search for a customer and view products the customer has purchased
o	Search for common resolutions by product
 -->
<div class="card">
	<h2 class ="card-header">Browse</h2>
	<div class="card-body">
		<h4>This page handles browsing all entities in the database.</h4>
		<button id="browse_customers_button" type="button" class="btn btn-primary" onclick="browse_category('customers')">Browse Customers</button>
		<button id="browse_products_button" type="button" class="btn btn-primary" onclick="browse_category('products')">Browse Products</button>
		<button id="browse_salespeople_button" type="button" class="btn btn-primary" onclick="browse_category('salespeople')">Browse Salespeople</button>
		<button id="browse_employees_button" type="button" class="btn btn-primary" onclick="browse_category('employees')">Browse Employees</button>
		<button id="browse_cases_button" type="button" class="btn btn-primary" onclick="browse_category('cases')">Browse Cases</button>
		<button id="browse_resolutions_button" type="button" class="btn btn-primary" onclick="browse_category('resolutions')">Browse Resolutions</button>
		<br/><br/>
		<!-- Start Table -->
		{% if keys != None %}
		<table class="table">
			<thead class="thead-light">
				<tr>
					{% for key in keys %}
						<th scope="col">{{ key }} 
							{% if key != order_by %}
								<button type="button" class="btn btn-link" onclick="reorder('{{key}}', 'DESC')" style="font-size:200%;">-</button>
							{% elif order == 'DESC' %}
								<button type="button" class="btn btn-link" onclick="reorder('{{key}}', 'ASC')" style="font-size:200%;">v</button>
							{% else %}
								<button type="button" class="btn btn-link" onclick="browse_category('{{type}}')" style="font-size:200%;">^</button>
							{% endif %}
						</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
			{% for item in contents %}
				<tr>
					{% for v in item %}
					<td>{{ v }}</td>
					{% endfor %}
					<td><button type="button" class="btn btn-warning" onclick="edit({{ item[0] }})">edit...</button></td>
				</tr>
			{% else %}
				There are no contents...
			{% endfor %}
			</tbody>
		</table>
		<button type="button" class="btn btn-success" onclick="create()">Add a new entry in {{type}}</button>
		{% else %}
			<h2>Choose a category to continue.</h2>
		{% endif %}
	</div>
</div>
<br/>
<br/>


<script type="text/javascript">
	if (type == "customers"){
		$("#browse_customers_button").removeClass("btn-primary");
		$("#browse_customers_button").addClass("btn-secondary");
	} else if (type == "products"){
		$("#browse_products_button").removeClass("btn-primary");
		$("#browse_products_button").addClass("btn-secondary");
	} else if (type == "salespeople"){
		$("#browse_salespeople_button").removeClass("btn-primary");
		$("#browse_salespeople_button").addClass("btn-secondary");
	} else if (type == "employees"){
		$("#browse_employees_button").removeClass("btn-primary");
		$("#browse_employees_button").addClass("btn-secondary");
	} else if (type == "cases"){
		$("#browse_cases_button").removeClass("btn-primary");
		$("#browse_cases_button").addClass("btn-secondary");
	} else if (type == "resolutions"){
		$("#browse_resolutions_button").removeClass("btn-primary");
		$("#browse_resolutions_button").addClass("btn-secondary");
	}
</script>

{% endblock %}