{% extends "layout.html" %}
{% block head %}
<script type="text/javascript">
	var None = null;
	var type = "{{ table }}";
	if(type == "None"){ type = null; }
	var where = [{% if not where == None %} {% for row in where %} [{% for col in row %} '{{col}}', {% endfor %}],{% endfor %} {% endif %}];
	var order = [{% if not order == None %} {% for o in order %} '{{o}}', {% endfor %} {% endif %}];
	var table = type;
	var keys = [{% if not keys == None %} {% for x in keys %} '{{x}}', {% endfor %} {% endif %}];
	var types = [{% if not keys == None %} {% for x in col_types %} '{{x}}', {% endfor %} {% endif %}];
	var searchType = "";

	function browse_category(cat){
		table = cat;
		where = null;
		order = null;
		reload_browse();
	}

	function reorder(element){
		if(order != null && order[0] == element){
			if(order[1] == "ASC"){
				order[1] = "DESC";
			} else {
				order = null;
			}
		} else {
			order = [element, "ASC"];
		}
		reload_browse();
	}

	function edit(pk){
		window.location = '/edit/' + table + "/" + pk;
	}

	function remove(item){
		var toSend = {};
		for(var i = 0; i < item.length; i++){
			toSend[keys[i]] = item[i];
		}
		
		toSend['table'] = "{{table}}";

		console.log(toSend);
		
		var xhr = new XMLHttpRequest();
		var url = "/remove";
		xhr.open("POST", url, true);
		xhr.setRequestHeader("Content-type", "application/json");
		xhr.onreadystatechange = function () { 
		if (xhr.readyState == 4 && xhr.status == 200) {
				window.location = "/update/{{table}}/remove";
			}
		}
		var data = JSON.stringify(toSend);
		xhr.send(data);
	}

	function create(){
		window.location = '/create/' + table;
	}

	function search_range(k){
		var startVal = document.getElementById(k + "_start").value;
		var endVal = document.getElementById(k + "_end").value;
		window.location = "/browse-date-range/" + table + "/" + k + "/" + startVal + "/" + endVal;
	}

	function reload_browse(){
		const params = new URLSearchParams(location.search);
		params.set('table', table);
		params.set('where', JSON.stringify(where));
		params.set('order', JSON.stringify(order));

		window.location = `${location.pathname}?${params.toString()}`;
	}

	function submitSearch(){
		if(where == null){
			where = new Array();
		}
		var col = document.getElementById("searchCol").value;
		var operator = document.getElementById("searchOperator").value;
		var searchTerm = document.getElementById("search_term").value;

		if(searchType.includes("date")){
			searchTerm = "'" + searchTerm + "'";
		}

		if(searchType == "datetime"){
			searchTerm.replace("T", " ");
		}

		var thisSearch = [col, operator, searchTerm];
		where[where.length] = thisSearch;
		//console.log(JSON.stringify(where));
		reload_browse();
	}

	function updateSearchType(){
		var columnSelect = document.getElementById("searchCol").value;
		var i = 0;
		while(keys[i] != columnSelect){
			i++;
		}

		var columnType = types[i];
		var searchTerm = document.getElementById("search_term");
		var operator = document.getElementById("searchOperator");

		while(operator.options.length > 0){
			operator.options.remove(0);
		}
		var option1 = document.createElement("OPTION");
		var option2 = document.createElement("OPTION");
		var option3 = document.createElement("OPTION");
		var option4 = document.createElement("OPTION");
		var option5 = document.createElement("OPTION");
		var option6 = document.createElement("OPTION");

		if (columnType.includes("number") || columnType.includes("date")){
			option1.appendChild(document.createTextNode(">"));
			option2.appendChild(document.createTextNode("<"));
			option3.appendChild(document.createTextNode("="));
			option4.appendChild(document.createTextNode("<="));
			option5.appendChild(document.createTextNode(">="));
			option6.appendChild(document.createTextNode("!="));
			operator.options.add(option1);
			operator.options.add(option2);
			operator.options.add(option3);
			operator.options.add(option4);
			operator.options.add(option5);
			operator.options.add(option6);
		}

		if(columnType.includes("number")){
			searchTerm.type = "number";
			searchType = "number";
		} else if (columnType.includes("string")){
			searchTerm.type = "text";
			option1.appendChild(document.createTextNode("contains"));
			operator.options.add(option1);
			searchType = "string";
		} else if (columnType.includes("datetime")){
			searchTerm.type = "datetime-local";
			searchType = "datetime";
		} else if (columnType.includes("date")){
			searchTerm.type = "date";
			searchType = "date";
		}

		operator.selectedIndex = 0;
	}

</script>
{% endblock %}
{% block body %}
<!-- 
This is essentially the home page of browsing. It links to other pages that handle specific kinds of browsing.

Handles the Employee Browsing operations

•	Employee Browsing Employees must be able to search the database for particular items based on various attributes and must also be able to do browsing (i.e., less focused searching). Examples:
o	Search for cases by status and timeframe
o	Search for a customer and view products the customer has purchased
o	Search for common resolutions by product
 -->
<div class="card">
	<h2 class ="card-header">Browse</h2>
	<div class="card-body">
		<h4>This page handles browsing all entities in the database.</h4>
		<button id="browse_customers_button" type="button" class="btn btn-primary" onclick="browse_category('customers')">Browse Customers</button>
		<button id="browse_products_button" type="button" class="btn btn-primary" onclick="browse_category('products')">Browse Products</button>
		<button id="browse_salespersons_button" type="button" class="btn btn-primary" onclick="browse_category('salespersons')">Browse Salespersons</button>
		<button id="browse_employees_button" type="button" class="btn btn-primary" onclick="browse_category('employees')">Browse Employees</button>
		<button id="browse_cases_button" type="button" class="btn btn-primary" onclick="browse_category('cases')">Browse Cases</button>
		<button id="browse_resolutions_button" type="button" class="btn btn-primary" onclick="browse_category('resolutions')">Browse Resolutions</button>
		<button id="browse_orders_button" type="button" class="btn btn-primary" onclick="browse_category('orders')">Browse Orders</button>
		<button id="browse_comments_button" type="button" class="btn btn-primary" onclick="browse_category('comments')">Browse Comments</button>
		<br/><br/>
		<!-- Start search bars -->
		{% if keys != None %}
		<h3>Search...</h3>
			<div class="row">
				<div class="col">
					<select class="form-control" id="searchCol" onchange="updateSearchType()">
						{% for k in keys %}
						<option>{{k}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col">
					<select class="form-control" id="searchOperator">
						<option>=</option>
						<option><</option>
						<option>></option>
						<option>contains</option>
					</select>
				</div>
				<div class="col">
					<div class="form-group">
						<input type="text" class="form-control" id="search_term" placeholder="value...">
						<small class="form-text text-muted">Choose a column, an operator, and a search term.</small>
					</div>
				</div>
				<div class="col">
					<button id="searchButton" type="button" class="btn btn-info" onclick="submitSearch()">Search!</button>
				</div>
			</div>
			<br/><br/>
		{% endif %}

		<!-- Start Table -->
		{% if keys != None %}
		<table class="table">
			<thead class="thead-light">
				<tr>
					{% for key in keys %}
						<th scope="col">{{ key }} 
							<button type="button" class="btn btn-link" onclick="reorder('{{key}}')" style="font-size:200%;">
							{% if order[0] == key and order[1] == "ASC" %}
								^
							{% elif order[0] == key and order[1] == "DESC" %}
								v
							{% else %}
								-
							{% endif %}
							</button>
						</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
			{% for item in contents %}
				<tr>
					{% for k in range(num_types) %}
						{% if item[k] == None %}
							<td>{{ item[k] }}</td>
						{% elif keys[k] in fks.keys() %}
							<td><a href="/view/{{fks[keys[k]]}}/{{item[k]}}" >{{ item[k] }}</a></td>
						{% elif keys[k] in pks %}
							<td><a href="/view/{{table}}/{{item[k]}}" >{{ item[k] }}</a></td>
						{% else %}
							<td>{{ item[k] }}</td>
						{% endif %}
					{% endfor %}
					<td><button type="button" class="btn btn-warning" onclick="edit({{ item[0] }})">edit...</button></td>
					<td><button type="button" class="btn btn-danger" onclick="remove([{% for v in range(num_types) %} {% if types[v] or item[v] == None %} '{{item[v]}}', {% else %} {{item[v]}}, {% endif %}{% endfor %}])">DELETE</button></td>
				</tr>
			{% else %}
				There are no contents...
			{% endfor %}
			</tbody>
		</table>
		<button type="button" class="btn btn-success" onclick="create()">Add a new entry in {{table}}</button>
		{% else %}
			<h2>Choose a category to continue.</h2>
		{% endif %}
	</div>
</div>
<br/>
<br/>


<script type="text/javascript">
	if (type == "customers"){
		$("#browse_customers_button").removeClass("btn-primary");
		$("#browse_customers_button").addClass("btn-secondary");
	} else if (type == "products"){
		$("#browse_products_button").removeClass("btn-primary");
		$("#browse_products_button").addClass("btn-secondary");
	} else if (type == "salespersons"){
		$("#browse_salespersons_button").removeClass("btn-primary");
		$("#browse_salespersons_button").addClass("btn-secondary");
	} else if (type == "employees"){
		$("#browse_employees_button").removeClass("btn-primary");
		$("#browse_employees_button").addClass("btn-secondary");
	} else if (type == "cases"){
		$("#browse_cases_button").removeClass("btn-primary");
		$("#browse_cases_button").addClass("btn-secondary");
	} else if (type == "resolutions"){
		$("#browse_resolutions_button").removeClass("btn-primary");
		$("#browse_resolutions_button").addClass("btn-secondary");
	} else if (type == "orders"){
		$("#browse_orders_button").removeClass("btn-primary");
		$("#browse_orders_button").addClass("btn-secondary");
	} else if (type == "comments"){
		$("#browse_comments_button").removeClass("btn-primary");
		$("#browse_comments_button").addClass("btn-secondary");
	}
	updateSearchType();
</script>

{% endblock %}