{% extends "layout.html" %}
{% block head %}

{% endblock %}
{% block body %}
	<h2>Home Page</h2>
	<h3>Common Operations:</h3>
	<p>As a busy help-desk operator, we assume you will want to get to these operations the most quickly:</p>
	<ul>
		<li>
			<a href="/browse?table=cases">Search through cases by status and timeframe</a>. Use the search bar that will appear at the top of the screen.
		</li>
		<li>
			<a href="/browse?table=customers">Search for a customer and view products the customer has purchased</a>. Use the search bar at the top of the screen and then click the appropriate button at the right side of the row to view those products.
		</li>
		<li>
			<a href="/browse?table=products">Search for common resolutions by product</a>. Search for a product and click the appropriate button on the right side of the row.
		</li>
		<li>
			<a href="/create/cases">Create a new case</a>
		</li>
		<li>
			<a href="/browse?table=cases">Update an existing case (including closing the case)</a>. Search for the case and click 'edit'.
		</li>
		<li>
			<a href="/create/orders">Add a new sale</a> or <a href="/create/customers">add a new customer</a>.
		</li>
		<li>
			<a href="/browse?table=customers">Update a customer</a>. Search for the customer and then click the 'edit' button on the right of the row.
		</li>
	</ul>
	<br/>
	<h4>Browsing!</h4>
	<p>Most browse operations can be handled on the <a href="/browse">browse page</a>.</p> The browse page allows you to...
	<br/>
	<ul>
		<li>
			<p>Casually browse any table of the database</p>
		</li>
		<li>
			<p>Search by any column, including multiple layered searches of the same table!</p>
		</li>
		<li>
			<p>Click the headers to re-order the contents by that column.</p>
		</li>
		<li>
			<p>Perform more complicated searches with the light-blue buttons on each row (they say what they do!)</p>
		</li>
		<li>
			<p>Edit or delete any given row.</p>
		</li>
	</ul>
	<br/>
	<h4>Data Agregation</h4>
	<p>Check out the <a href="/aggregation">data aggregation page</a> for a collection of dynamically-calculated metrics, which you may find useful to the business.</p>

{% endblock %}




